* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: lightblue;
}
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid darkblue;
  background-color: lightblue;
  margin: 10px;
}
.book-title,
.book-img,
.book-desc {
  padding: 20px;
}
.book-title {
  font-size: 25px;
}
.helloTitle {
  padding: 20px;
}
input,
select {
  margin: 10px;
}
